*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-granite: rgb(37 38 41 / 100%);
  --color-nemo: hsl(14 100% 53%);
  /*not sure about this one as there seem to be different versions of white*/
  --color-foam: rgb(255 255 255);
}

:root {
  --letter-spacing-strong: 0.025em;
  --padding-block-elements: 16px;
  --border-radius-small: 4px;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}

header {
  /*  background: rgb(37 38 41 / 100%);*/
  background: var(--color-granite);
}

h1 {
  text-align: center;
  color: white;
  line-height: 1.4;
  margin: 0;
  letter-spacing: var(--letter-spacing-strong)
  /*0.025em;*/
  text-transform: uppercase;
  padding-block: var(--padding-block-elements);
  ;
}

h2 {
  letter-spacing: var(--letter-spacing-strong)
  /*0.025em;*/}

strong {
  color: var(--color-nemo);
  /*#ff4a11;*/
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: var(--padding-block-elements);

  width: min(1000px, 100%);
  margin: 0 auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 10px;
  background-color: var(--color-nemo);
  /*  #ff4a11ff;*/
  border-radius:  var(--border-radius-small);
}

figcaption {
  color: var(--color-foam);
  /* rgb(255 255 255);*/
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px var(--padding-block-elements);
}

a {
  display: inline-block;
  font-size: smaller;
  padding: 8px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-nemo);
  /* hsl(14 100% 53%);*/
  color: var(--color-foam);
  /* #fff; */
}

a:hover,
a:focus-visible {
  /*  background-color: rgb(37 38 41);*/
  background-color: var(--color-granite);
  text-decoration: none;
}

mark {
  background-color: var(--color-nemo);
  /*rgb(255 74 17);*/
  color: var(--color-foam);
  /*  #ffffff; */
  border-radius: var(--border-radius-small);
  letter-spacing: var(--letter-spacing-strong)
  /*0.025em;*/}

::selection {
  /*not quite but nearly the same; maybe the same with different codes? yes, I think so*/
  /*  background-color: #252629;*/
  background-color: var(--color-granite);

  color: var(--color-nemo);
  /* #ff4a11; */
}
