/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  color: red;
  border: 6px solid violet;
  border-radius: 50px;
  padding: 5px 40px;
  /*Style me! Change my border, set a border radius or what you want to try out. :) */
}

.button2 {
  background-color: yellowgreen;
  color: yellow;
  border: 4px solid white;
  border-radius: 20px;

  /*Style me! Change my color, or my background-color. Or both! You can test out different color modes here - like HEX, RGB, ... */
}

.button3 {
  font-family: serif;
  font-style: italic;
  font-size: large;
  /*Style me! You can test out changing the font, or font size, ...*/
}
/* font: does not seem to work for me.

.button3:hover {
  font-family: sans-serif;
  font-style: bold;
  font-size: small;
  /*Style me! You can test out changing the font, or font size, ...*/
}

.button4 {
  box-shadow: -20px 10px 5px red;
  background-color: skyblue;
  /*Style me! Can you add a shadow to this button? Maybe play around with the shadow properties, as well? You can even color the shadow, make it bigger or smaller, ... */
}

/* Feel free to play around with other properties, as well. */
