.main {
  color: var(--main-text);
  padding: 20px;
}

.menu {
  /*  --main-text: #fff;*/
  color: var (--main-text);
  background-color: var(--main-title-bg);
  display: flex;
  height: 10vh;
  width: 75px;
  padding: 5px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0;
}

p {
  display: flex;
  margin: 0;
}

h4 {
  display: flex;
  margin: 0;
}
